# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de base de datos
*.sqlite
*.db

# Archivos de configuración IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de datos sensibles
*.env
*.log
config.ini